@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.nav-pills > .nav-item > .active {
font-family: 'GmarketSansMedium';
  color: black;
  background-color: #fbc680 !important;   
  font-size : 1.7rem;
}
.nav-pills > .nav-item{
	font-family: 'GmarketSansMedium';
	font-size : 1.7rem;
	
}
	
.mainIframe{
	width: 90%;
	height: 600px;
}
