@charset "UTF-8";

.input.password {
    position: relative;
    display: flex; /* 추가된 부분 */
    align-items: center; /* 추가된 부분 */
}

.input.password input {
    margin-right: 10px; /* 필요에 따라 간격 조절 */
}

.input .eyes {
    position: relative; /* 수정된 부분 */
    margin: 15px 0 0 -10px; /* 필요에 따라 간격 조절 */
}

.input .eyes i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 30px;
    font-size: 22px;
    cursor: pointer;
}

.container {
	margin-top: 50px;
}