<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="hotelVo">

	<select id="getHotelInfo" parameterType="int" resultType="hotelVo">
		SELECT * FROM hotel WHERE hotel_no = #{hotel_no}
	</select>
	
	<update id="subtractHotelRoom" parameterType="int">
		UPDATE hotel SET hotel_room_count = hotel_room_count - 1
		WHERE hotel_no = #{hotel_no}
	</update>
	
	<update id="plusHotelRoom" parameterType="int">
		UPDATE hotel SET hotel_room_count = hotel_room_count + 1
		WHERE hotel_no = #{hotel_no}
	</update>
	
	<select id="getHotelRoom" parameterType="Map" resultType="int">
		SELECT count(*) FROM hotel h, hotel_reserve hr
		WHERE h.hotel_no = hr.hotel_no
		AND 
		<![CDATA[
			(hr.HOTEL_RSV_STARTDATE <= #{startDate} AND hr.HOTEL_RSV_ENDDATE >= #{endDate})
		]]>
		AND hr.hotel_rsv_state = 1
	</select>
	
	<!-- 지도에 호텔을 보여주는 메서드들 -->
	<select id="selectHotel" resultType="hotelVo">
		select * from hotel
	</select>
  
	<select id="selectByDong" resultType="hotelVo" parameterType="string">
		select * from hotel where hotel_addr like '%'||#{sword}||'%'
	</select> 
	
	<select id="selectByName" resultType="hotelVo" parameterType="String">     
		select * from hotel where hotel_name like '%'||#{dong}||'%'    
	</select>
	<!-- 지도에 보여주는 메서드 끝 -->
	
</mapper>